apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "1"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"python","namespace":"grupob3"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"python"}},"template":{"metadata":{"labels":{"app":"python"}},"spec":{"containers":[{"env":[{"name":"DB_USERNAME","valueFrom":{"secretKeyRef":{"key":"DB_USERNAME","name":"mariadb-secret"}}},{"name":"DB_PASSWORD","valueFrom":{"secretKeyRef":{"key":"DB_PASSWORD","name":"mariadb-secret"}}},{"name":"DB_DATABASE","valueFrom":{"secretKeyRef":{"key":"DB_DATABASE","name":"mariadb-secret"}}},{"name":"DB_HOST","value":"mariadb"},{"name":"DB_PORT","value":"3306"},{"name":"PORT","value":"8080"},{"name":"HOST","value":"0.0.0.0"}],"image":"grupob3/pepspython:1.0","name":"python","ports":[{"containerPort":8080}]}]}}}}
  creationTimestamp: "2026-02-02T11:19:11Z"
  generation: 1
  name: python
  namespace: grupob3
  resourceVersion: "165713"
  uid: 17237a1c-62a4-427f-9942-5ee67bf9caf1
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: python
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: python
    spec:
      containers:
      - env:
        - name: DB_USERNAME
          valueFrom:
            secretKeyRef:
              key: DB_USERNAME
              name: grupob3-secret
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              key: DB_PASSWORD
              name: grupob3-secret
        - name: DB_DATABASE
          valueFrom:
            secretKeyRef:
              key: DB_DATABASE
              name: grupob3-secret
        - name: DB_HOST
          value: mariadb
        - name: DB_PORT
          value: "3306"
        - name: PORT
          value: "8080"
        - name: HOST
          value: 0.0.0.0
        image: grupob3/pepspython:1.0
        imagePullPolicy: IfNotPresent
        name: python
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  conditions:
  - lastTransitionTime: "2026-02-02T11:19:11Z"
    lastUpdateTime: "2026-02-02T11:19:11Z"
    message: Deployment does not have minimum availability.
    reason: MinimumReplicasUnavailable
    status: "False"
    type: Available
  - lastTransitionTime: "2026-02-02T11:19:11Z"
    lastUpdateTime: "2026-02-02T11:19:11Z"
    message: ReplicaSet "python-7cc9fd5b9d" is progressing.
    reason: ReplicaSetUpdated
    status: "True"
    type: Progressing
  observedGeneration: 1
  replicas: 1
  unavailableReplicas: 1
  updatedReplicas: 1
---
apiVersion: v1
kind: Service
metadata:
  name: python
  namespace: grupob3
spec:
  ports:
    - port: 8080
  selector:
    app: python
