apiVersion: apps/v1
kind: Deployment
metadata:
  name: python
  namespace: grupob3
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python
  template:
    metadata:
      labels:
        app: python
    spec:
      containers:
        - name: python
          image: grupob3/pepspython:1.0
          ports:
            - containerPort: 8080
          env:
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mariadb-secret
                  key: DB_USERNAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mariadb-secret
                  key: DB_PASSWORD
            - name: DB_DATABASE
              valueFrom:
                secretKeyRef:
                  name: mariadb-secret
                  key: DB_DATABASE
            - name: DB_HOST
              value: mariadb
            - name: DB_PORT
              value: "3306"
            - name: PORT
              value: "8080"
            - name: HOST
              value: "0.0.0.0"
---
apiVersion: v1
kind: Service
metadata:
  name: python
  namespace: grupob3
spec:
  ports:
    - port: 8080
  selector:
    app: python