apiVersion: apps/v1
kind: Deployment
metadata:
name: python-api
namespace: grupo3
spec:
selector:
matchLabels:
app: python-api
template:
metadata:
labels:
app: python-api
spec:
containers:
- name: python-api
image: api-grupo3:v1
envFrom:
- secretRef:
name: python-secret