apiVersion: apps/v1
kind: Deployment
metadata:
name: apache
namespace: grupo3
spec:
selector:
matchLabels:
app: apache
template:
metadata:
labels:
app: apache
spec:
containers:
- name: apache
image: apache-grupo3:v1
ports:
- containerPort: 80